@import url(https://fonts.bunny.net/css?family=kantumruy-pro:400,700|roboto:300,500,700);
@import "tailwindcss";
@theme {
  --font-sans: "Roboto", "Kantumruy Pro";
  --font-roboto: "Roboto", sans-serif;
  --font-kantumruy: "Kantumruy Pro";
  --font-moullight: "MoulLight";
  --color-light: #f9fafb;
  --color-dark: #020817;
  --color-primary: #f64838;
  --color-secondary: #5a5ffa;
  --spacing-public-prefer: 1334px;
  --breakpoint-public-prefer: 1334px;
}
/* smooth scroll animation for target  */
:has(:target) {
  @apply scroll-smooth scroll-pt-16 lg:scroll-pt-28;
}
