@import url(https://fonts.bunny.net/css?family=kantumruy-pro:400,700|roboto:300,500,700);
@import "tailwindcss";

@theme {
  --font-sans: "Roboto", "Kantumruy Pro";
  --font-roboto: "Roboto", sans-serif;
  --font-kantumruy: "Kantumruy Pro";
  --font-moullight: "MoulLight";
  --color-light: #f9fafb;
  --color-dark: #020817;
  --color-primary: #2463eb;
  --color-secondary: #5a5ffa;
  --spacing-prefer: 1334px;
  --breakpoint-prefer: 1334px;
}

@utility small-highlight {
  @apply w-max text-primary bg-primary/5 border border-primary/10 rounded-full px-4 py-1 font-medium;
}
@utility gradient-text {
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@font-face {
  font-family: "MoulLight";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/KhmerOSMuollight.ttf") format("truetype");
}

:has(:target) {
  @apply scroll-smooth;
}
